@inherits LayoutComponentBase

<div class="page" style="direction: ltr;">
    <div class="container">
        <NavMenu />
    </div>

    <div class="main" style="margin-top: 100px;">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
