.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding : 0 25px;
}

.card-footer {
    border-top: none;
    padding : 10px 15px;
    background-color: #fff;
}

.btn-group {
    border: 0px;
    background-color: #fff;
}

h4 {
    padding: 2%;
}