<div class="form-group">
    <input [class.is-invalid]="ngControl.touched && ngControl.invalid" placeholder='{{this.label}}' type={{this.type}}
        class="form-control" [formControl]="this.ngControl.control">

    <div *ngIf="this.ngControl.control && this.ngControl.control?.errors?.required" class="invalid-feedback">Please
        enter a
        {{this.label}}</div>
    <div *ngIf="this.ngControl.control?.errors?.minlength" class="invalid-feedback">
        {{this.label}} must be at least {{this.ngControl.control.errors.minlength['requiredLength']}}
    </div>
    <div *ngIf="this.ngControl.control?.errors?.maxlength" class="invalid-feedback">
        {{this.label}} must be at most {{this.ngControl.control.errors.maxlength['requiredLength']}}
    </div>
    <div *ngIf="this.ngControl.control?.errors?.isMatching" class="invalid-feedback">
        Passwords do not match
    </div>
</div>